<div class="share-menu">
	{% if facebook_href %}
	<div class="facebook">
		<a href="{{ facebook_href }}" target="_blank" title="facebook Share">
			<i class="fa fa-facebook"></i>
		</a>
	</div>
	{% endif %}
	<div class="twitter">
		<a href="{{ twitter_href }}" target="_blank" title="Tweet">
			<i class="fa fa-twitter"></i>
		</a>
	</div>
	{% if googlePlus_href %}
	<div class="googlePlus">
		<a href="{{ googlePlus_href }}" target="_blank" title="Share on Google+">
			<i class="fa fa-google-plus"></i>
		</a>
	</div>
	{% endif %}
	<div class="tumblr">
		<a href="{{ tumblr_href }}" target="_blank" title="Post to Tumblr">
			<i class="fa fa-tumblr"></i>
		</a>
	</div>
	<div class="pinterest">
		<a href="{{ pinterest_href }}" target="_blank" title="Pin it">
			<i class="fa fa-pinterest"></i>
		</a>
	</div>
	<div class="reddit">
		<a href="{{ reddit_href }}" target="_blank" title="Submit to Reddit">
			<i class="fa fa-reddit-alien"></i>
		</a>
	</div>
	<div class="linkedin">
		<a href="{{ linkedin_href }}" target="_blank" title="Share on LinkedIn">
			<i class="fa fa-linkedin"></i>
		</a>
	</div>
	<div class="email">
		<a href="{{ email_href }}" target="_blank" title="Email">
			<i class="fa fa-envelope"></i>
		</a>
	</div>
	<div class="sms">
		<a href="{{ sms_href }}" target="_blank" title="SMS">
			<i class="fa fa-comment"></i>
		</a>
	</div>
</div>
