{% extends 'base.html' %}


{% block static %}
	{{ super() }}

	{# mapbox #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css" />
	{# mapbox-directions #}
	<link rel='stylesheet' type="text/css" href='https://api.tiles.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.1.0/mapbox.directions.css'/>
	{# leaflet-draw #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css" />
	{# leaflet-awesome-markers #}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
	{# leaflet-fullscreen #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/leaflet.fullscreen.css" />
	{# leaflet-markercluster #}
	<link rel="stylesheet" type="text/css" href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css'/>
	<link rel="stylesheet" type="text/css" href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css'/>
	{# leaflet-zoomslider #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css" />
	{# bootstrap-datetimepicker #}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

	<script type="text/javascript">
		require(['explorer']);
	</script>
{% endblock %}


{% block header %}
	{% include 'components/header.html' %}
{% endblock %}


{% block menu %}
	{% include 'components/menu.html' %}
{% endblock %}


{% block outer_footer %}
	<aside id="favorite" class="modal modal-close">
		<div class="container">
			<div class="scroller">
				<div class="content">
					<i class="modal-close close-button"></i>

					<div class="body"></div>
				</div>
			</div>
		</div>
	</aside>
	<aside id="action" class="modal modal-close">
		<div class="container">
			<div class="scroller">
				<div class="content">
					<i class="modal-close close-button"></i>

					<div class="body"></div>
				</div>
			</div>
		</div>
	</aside>
{% endblock %}
