<div class="location-menu">
	<div class="googleMaps_show">
		<a href="{{ googleMaps_show_href }}" target="_blank" title="Show Google Maps">
			<i class="fa fa-map"></i>
		</a>
	</div>
	<div class="googleMaps_nav">
		<a href="{{ googleMaps_nav_href }}" target="_blank" title="Navigate Google Maps">
			<i class="fa fa-location-arrow"></i>
		</a>
	</div>
	<div class="weather">
		<a href="{{ weather_href }}" target="_blank" title="Weather">
			<i class="fa fa-sun-o"></i>
		</a>
	</div>
	<div class="wolfram">
		<a href="{{ wolfram_href }}" target="_blank" title="Wolfram Alpha Location">
			<i class="fa fa-calculator"></i>
		</a>
	</div>
</div>
