<div class="object thing" id="{{ id }}">
	<div class="header">
		<div class="type">
			<i class="{{ type.icon }}"></i> {{ type.name }}
		</div>

		<div class="provider">
			<i class="{{ provider.icon }}"></i> {{ connection.name|truncate(30, True) }}
		</div>

		<aside class="action-bar">
			<span>Tag</span><i class="fa fa-hashtag"></i>
			<span>Share</span><i class="fa fa-share"></i>
		</aside>
	</div>

	<div class="content-embed" data-type="thing" data-id="{{ id }}"></div>

	{% if embed_thumbnail %}
	<div class="thumbnail">
		{% if not title %}
		<img src="{{ embed_thumbnail }}"/>
		{% else %}
		<a href="{{ url }}" target="_blank">
			<img src="{{ embed_thumbnail }}"/>
		</a>
		{% endif %}
	</div>
	{% endif %}

	<div class="title">
		{% if url %}
		<a href="{{ url }}" target="_blank">{{ title | safe }}</a>
		{% else %}
		<span>{{ title }}</span>
		{% endif %}
	</div>

	<div class="text">
		{% if text %}
		{% if url and not title %}
		<a href="{{ url }}" target="_blank">{{ text | safe }}</a>
		{% else %}
		<pre>{{ text }}</pre>
		{% endif %}
		{% endif %}
	</div>

	<div class="tagging">
		<div class="tags">
			{% for tag in tags %}
				<span>#{{ tag }}</span>
			{% endfor %}
		</div>
	</div>
</div>
