<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />

		<title>{% block title %}{% endblock %}</title>

		{% include 'components/metatags.html' %}

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:400|Roboto:300,400,700|Open+Sans:200,300,400,700" />

		<link rel="stylesheet" type="text/css" href="{% static 'css/site.min.css' %}"/>
	</head>

	<body class="errors">
		{% if not req.user %}
			<header>
				<a href="{{ req.headers.host }}/login?continue=https://{{ req.headers.host }}{{ req.originalUrl }}"><button>Login</button></a>
				<a href="{{ req.headers.host }}/signup?continue=https://lifescope.io"><button>Sign Up</button></a>
			</header>
		{% endif %}

		<main>
			<div id="splash">
				{% if code != 500 and req.originalUrl == '/' %}
					<a href="https://lifescope.io"><img src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/error-page-bitscoop-logo.png" /></a>
				{% else %}
					<a href="https://{{ req.headers.host }}"><img src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/error-page-bitscoop-logo.png" /></a>
				{% endif %}

				<h1>Oops...</h1>
			</div>

			{% block main %}
				<div>
					{% block error %}{% endblock %}

					{% if code != 500 and req.originalUrl == '/' %}
						<p>Back to <a href="https://lifescope.io">lifescope.io</a>.</p>
					{% else %}
						<p>Back to <a href="https://{{ req.headers.host }}">{{ req.headers.host }}</a>.</p>
					{% endif %}
				</div>
			{% endblock %}
		</main>

		<footer>
			{% block footer %}
				<div class="copyright">&copy; 2017 BitScoop Labs, Inc.</div>
				<div class="footer-links">
					{% if not req.user %}
						<a href="{{ req.headers.host }}/login?continue=https://{{ req.headers.host }}{{ req.originalUrl }}">Log In</a>
						<span class="spacer"> | </span>
						<a href="{{ req.headers.host }}/signup?continue={{ req.headers.host }}">Sign Up</a>
						<span class="spacer"> | </span>
					{% endif %}

					<a class="support-link" target="_blank" href="https://bitscoop.com/support">Support</a>
					<span class="spacer"> | </span>
					<a class="privacy-policy" href="https://bitscoop.com/privacy">Privacy</a>
					<span class="spacer"> | </span>
					<a class="terms-of-use" href="https://bitscoop.com/terms">Terms</a>
				</div>
			{% endblock %}
		</footer>
	</body>
</html>
