<div id="map-container">
	<div id="left" class="autoblur">
		<div id="list-scroll">
			<div id="list"></div>
		</div>
		<div id="expand-list" class="leaflet-bar hidden">
			<i class="fa fa-caret-right"></i>
		</div>
	</div>
	<div id="background" class="flexbox flex-grow autoblur"></div>
	<aside id="details" class="modal modal-close">
		<div class="container">
			<div class="scroller">
				<div class="content">
					<i class="modal-close close-button"></i>

					<div class="body"></div>
				</div>
			</div>
		</div>
	</aside>
</div>
