<div class="icon-picker">
	<div class="options">
		<i class="fa fa-circle-o"></i>
		<i class="fa fa-tag"></i>
		<i class="fa fa-square"></i>
		<i class="fa fa-circle"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-certificate"></i>
		<i class="fa fa-check"></i>
		<i class="fa fa-user"></i>
		<i class="fa fa-users"></i>
		<i class="fa fa-at"></i>
		<i class="fa fa-bar-chart"></i>
		<i class="fa fa-bell"></i>
		<i class="fa fa-briefcase"></i>
		<i class="fa fa-calendar"></i>
		<i class="fa fa-camera-retro"></i>
		<i class="fa fa-code"></i>
		<i class="fa fa-copy"></i>
		<i class="fa fa-cutlery"></i>
		<i class="fa fa-desktop"></i>
		<i class="fa fa-file-code-o"></i>
		<i class="fa fa-file-image-o"></i>
		<i class="fa fa-file-text-o"></i>
		<i class="fa fa-files-o"></i>
		<i class="fa fa-film"></i>
		<i class="fa fa-filter"></i>
		<i class="fa fa-gamepad"></i>
		<i class="fa fa-glass"></i>
		<i class="fa fa-globe"></i>
		<i class="fa fa-hashtag"></i>
		<i class="fa fa-headphones"></i>
		<i class="fa fa-heart"></i>
		<i class="fa fa-heartbeat"></i>
		<i class="fa fa-history"></i>
		<i class="fa fa-home"></i>
		<i class="fa fa-image"></i>
		<i class="fa fa-inbox"></i>
		<i class="fa fa-map-marker"></i>
		<i class="fa fa-usd"></i>
		<i class="fa fa-music"></i>
		<i class="fa fa-paw"></i>
		<i class="fa fa-phone"></i>
		<i class="fa fa-puzzle-piece"></i>
		<i class="fa fa-smile-o"></i>
		<i class="fa fa-soccer-ball-o"></i>
		<i class="fa fa-commenting-o"></i>
		<i class="fa fa-thumbs-o-up"></i>
		<i class="fa fa-tree"></i>
		<i class="fa fa-trophy"></i>
		<i class="fa fa-tv"></i>
		<i class="fa fa-video-camera"></i>
		<i class="fa fa-wrench"></i>
	</div>

	<div id="clear-icon">
		<i class="fa fa-times-circle"></i> <span>Clear icon</span>
	</div>
</div>
